[bumpversion]
current_version = 0.1.0
commit = False
tag = False
message = "Bump version: {current_version} → {new_version}"
tag_name = "{new_version}"

[bumpversion:file:setup.py]

[bumpversion:file:README.md]

[bumpversion:file:Bellkor/Base/__init__.py]

[bumpversion:file:Bellkor/Parameters/__init__.py]

[bumpversion:file:Bellkor/Utils/__init__.py]

[bumpversion:file:Bellkor/__init__.py]
